.img {
  width: clamp(76%, 250px, 200px);
  aspect-ratio: 4/3.6;
  opacity: 0.5;
  border-radius: 10px;
  transition: all 0.5s;
}

.img:hover {
  transform: translate(-15px, -15px) scale(1.02);
  box-shadow: var(--shadow);
  opacity: 1;
}
