.img {
  width: clamp(50%, 220px, 220px);
  aspect-ratio: 4/3.6;
  opacity: 0.95;
  border-radius: 400px;
  transition: all 0.5s;
}

.img:hover {
  transform: translate(-2px, -2px) scale(1.01);
  box-shadow: var(--shadow);
  opacity: 1;
}
