// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
1024px - 1366px     iPad Pro
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop
1em = 16px
*/
@mixin respond($breakpoint) {
    // Phone-xs
    @if $breakpoint == phone-xs {
      @media (max-width: 31em) {
        @content;
      } //0 - 500px
    }
    // Phone
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      } //0 - 600px
    }
  // Table Portrait
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
}
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$delay: 0.015s;
$duration: 0.6s;
$easing: cubic-bezier(0.76, 0, 0.24, 1);


.rolling-text{
  display: inline-block;
  font-family: var(--main-font);
  $font-size: 3.5rem;
  font-weight: 900;
  // $font-size: 48px;
  font-size: $font-size;
  line-height: $font-size * 1.5;
  letter-spacing: $font-size / 5;
  height: $font-size * 1.5;
  text-decoration: none;
  overflow: hidden;
  color: var(--text-primary);
  filter: drop-shadow(1px 1px 1px var(--text-primary, 0.6));
  
  &:hover,
  &.play{
    .letter{
      transform: translateY(-100%);
      transform: translateY(-100%);
      text-align: center;
      color:aquamarine;
      background: linear-gradient(to right, #9ed9fd, #2c90d2, #39b3ff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
  
  .block:last-child{
    color:var(--animated-bg-name);
  }
  
  .letter{
    display: inline-block;
    transition: transform $duration $easing;
  }
}

@for $i from 0 through 20 {
  .letter:nth-child(#{$i + 1}) {
    transition-delay: $delay * $i;
  }
}

@include respond(tab-port) {
  .rolling-text{
    font-size: 3rem;
  }
}

@include respond(phone) {
  .rolling-text{
    font-size: 2rem;
  }
}

@include respond(phone-xs) {
  .rolling-text{
    font-size: 2rem;
    letter-spacing: 2px;
  }
}