.navbar {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(7px);
  transition: all 0.5s;
}

.navbar__down {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.5s;
}

.navbar__content {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.content__left {
  display: block;
}

.content__right {
  display: flex;
  align-items: center;
  width: 40%;
}
.content__right__content{
  font-family: var(--alt-font);
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.content__right__content span {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .content__right {
    min-width: 30%;
  }
}
@media (max-width: 500px) {
  .content__right {
    min-width: 50%;
  }
}
