.section {
  width: calc(100% - calc(2 * 150px));
  padding: 0 150px;
  margin: 120px 0;
  margin-bottom: 70px;
}
.button_projects{
  position: fixed;
  rotate: 90deg;
  right: -72px;
  top: 250px;
}
.button_projects span{
  padding: 3px 0px!important;
}
@media (max-width: 1080px) {
  .section {
    padding: 0;
    width: 100%;
  }
}
