.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__container__socials {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.footer__container__info {
  font-size: small;
  font-family: var(--info-font);
  text-align: center;
}