.about {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  justify-items: center;
}

.info {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

@media (max-width: 780px) {
  .about {
    width: 100%;
    margin: 0;
    font-size: x-small;
    grid-template-columns: 5fr;
    padding: 0;
  }
  .info {
    height: max-content;
    width: 90%;
    margin-bottom: 0;
    padding: 0;
  }
  .pic {
    margin-top: -55px;
    width: 45%;
  }
}
