.icon {
  fill: var(--text-primary);
  aspect-ratio: 4/3.6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icon--folder {
  display: flex;
  justify-content: flex-start;
}
.icon--launch {
  display: flex;
  justify-content: flex-end;
}