@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.area{
    position: absolute;
    background: var(--bg);  
    width: 100%;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;  

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;  
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    
}

#lionfish {
    position: absolute;
    display: block;
    animation-delay: 0s;
    animation: animateLionFish 50s linear infinite;
}

#turtlemove {
    position: absolute;
    display: block;
    animation-delay: 5s;
    animation-duration: 60s;
    animation: turtle 60s linear infinite;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles span {
    position: absolute;
    display: block;
    list-style: none;
    left: 45%;
    animation: animatebubles 25s linear infinite;
    animation-delay: 0s;
    bottom: -150px;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--bg-animated);
    animation: animate 25s linear infinite;
    bottom: -150px;
}


.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    background: var(--primary-hover, 0.4);
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    background: var(--primary-hover, 0.2);
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    background: var(--primary-hover, 0.6);
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    background: var(--primary-hover, 0.1);
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#medusa1 {
    left: 45%;
    width: 0px;
    height: 0px;
    animation-delay: 0s;
    animation-duration: 40s;
    animation: medusa 40s linear infinite;
}

#medusa2 {
    left: 40%;
    width: 0px;
    height: 0px;
    animation-delay: 0s;
    animation-duration: 40s;
    animation: medusa 40s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes animatebubles {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes animateLionFish {
    0%{
        transform: translateY(500px) translateX(100vw);
        opacity: 1;
   }
    100%{
        transform: translateY(-100px) translateX(-100px);
        opacity: 0.7;
    }
}

@keyframes medusa {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-1100px) translateX(300px);
        opacity: 0.7;
    }
}

@keyframes turtle {
    0%{
        transform: translateY(600px) translateX(140vw);
        opacity: 1;
   }
    100%{
        transform: translateY(650px) translateX(-100px);
        opacity: 0.8;
    }
}